<!DOCTYPE html>
<html lang="vi">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Danh sách đăng ký</title>
  <style>
    body { 
        font-family: sans-serif; 
        margin: 10px auto;
        background-image: url(./gp.jpg); 
    }

    .container {
        margin: 5rem;
        background-color: #fff;
        padding: 25px 15px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
    }

    .container a{
        text-decoration: underline;    
    }

    h2 { 
        text-align: center; 
        font-size: 1.5rem;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    table, th, td {
        border: 1px solid #ccc;
        font-size: 1.1rem;
    }

    th, td {
        padding: 10px;
        text-align: left;
    }

    th {
        background-color: #f4f4f4;
    }

    .item strong { 
        font-size: 1.1rem; 
    }

    .item small {
        color: gray; 
    }

  .table-wrapper {
    max-height: 600px;
    overflow-y: auto;
    border: 1px solid #ccc; 
  }


    @media screen and (max-width: 768px) {
      .container{
        margin: 3rem 1rem;
      }

      h2{
        font-size: 1rem;
      }

      table, th, td {
        border: 1px solid #ccc;
        font-size: .8rem;
    }
    }

  </style>
</head>
<body>
  <div class="container">
    <a href="/">Quay lại</a>
    <h2>💥 KẾT QUẢ ĐĂNG KÍ HÁT TẠI GỐC PHỐ 💥</h2>

    <div class="table-wrapper">
      <table>
        <thead>
          <tr>
            <th>STT</th>
            <th>Tên</th>
            <th>Bài hát</th>
            <th>Thời gian đăng ký</th>
          </tr>
        </thead>
        <tbody>
          <% data.forEach((entry, index) => { %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= entry.name %></td>
            <td><%= entry.song %></td>
            <td><%= new Date(entry.timestamp).toLocaleString() %></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>
